.layout {
    display: grid;
    grid-template-columns: 320px 1fr;
}

aside.sidebar {
    width: 320px;
    background-color: #d9d9d9;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.nav {
    margin-top: 40px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;

    & > :not([hidden]) ~ :not([hidden]) {
        margin-top: 20px;
    }

    a,
    div {
        font-size: 16px;
        color: #212353;

        &:hover {
            opacity: 0.9;
        }
    }
}
